<div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let option of options">
      <div style="display: flex; align-items: center;">
        <a [routerLink]="['/heroes', option.id]" style="width:100%; text-decoration: none;" class="  text-blue-600">
          {{option.name }}</a>
        <span style=" flex: 1 1 auto;"></span>
        <div>
          <button (click)="openDialog(option)" mat-button>
          <mat-icon>edit</mat-icon></button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <a (click)="openDialog({})" mat-stroked-button color="primary" style="margin-right: 1rem;">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
    Add
  </a>
</div>