<div class="max-w-md mx-auto">
  <mat-list role="list">
    <mat-list-item
      class="border-b-1"
      role="listitem"
      *ngFor="let option of options"
    >
      <div style="display: flex; align-items: center">
        <a
          [routerLink]="['/heroes', option.id]"
          style="width: 100%; text-decoration: none"
          class="text-blue-600"
        >
          {{ option.name }}</a
        >
        <span style="flex: 1 1 auto"></span>
        <div>
          <button (click)="openDialog(option)" mat-icon-button>
            <mat-icon>edit_note</mat-icon>
          </button>
          <button (click)="delete(option)" mat-icon-button class="text-orange-800">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <a
    (click)="openDialog({})"
    mat-stroked-button
    color="primary"
    style="margin-right: 1rem"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="add"
    ></mat-icon>
    Add
  </a>
</div>
