<div style="display:flex; align-items: center;margin-bottom: 2rem;">
  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option *ngFor="let option of options">{{option }}</mat-chip-option>
    <span style=" flex: 1 1 auto;"></span>
    <a mat-raised-button color="primary" style="margin-right: 1rem;">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      Add
    </a>
  </mat-chip-listbox>

</div>


<mat-accordion>
  <mat-expansion-panel *ngFor="let hero of heroes$ | async; index as i" [class.selected]="hero.id === selectedId">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i + 1 }}) {{ hero.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{ hero.description }}
  </mat-expansion-panel>
</mat-accordion>