<div class="">
  <div
    style="
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 2rem;
    "
  >
    <a
      style="margin: 0.5rem; background-color: rgba(0, 0, 0, 0.69); color: #fff"
      mat-raised-button
      [routerLink]="['/heroes', option.id]"
      (dblClick)="dblClick(option.id)"
      *ngFor="let option of options"
      [style.color]="option.id === id ? 'blue' : ''"
    >
      <mat-icon *ngIf="option.id === id">check</mat-icon>
      {{ option.name }}
    </a>
  </div>

  <div style="display: flex">
    <div></div>
    <span style="flex: 1 1 auto"></span>
    <a
      mat-raised-button
      color="primary"
      style="margin-right: 1rem"
      (click)="openDialogKeep({ parent_id: id })"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
      Add
    </a>
  </div>

  <mat-accordion style="background: none; color: #fff">
    <mat-expansion-panel
      *ngFor="let keep of keeps; index as i"
      [class.selected]="keep.id === id"
      style="background: none; color: #fff"
    >
      <mat-expansion-panel-header style="color: #fff">
        <mat-panel-title style="color: #fff">
          <span style="font-weight: bold; font-size: 16px; color: #fff">
            {{ i + 1 }}) {{ keep.name }}</span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        style="font-size: 15px; color: #fff; padding: 16px 0"
        [innerHTML]="keep.description"
      ></div>
      <div class="float-right" style="float: right">
        <button
          mat-raised-button
          (click)="openDialogKeep(keep)"
          [style.color]="'blue'"
        >
          Edit
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
