<h2 mat-dialog-title>
  {{ !!data.id ? "Update" : "Create" }}
  {{ !!data.parent_id ? "Keep" : "Category" }}
</h2>
<mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>

  <angular-editor [(ngModel)]="data.description"></angular-editor>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="create()"> {{ !!data.id ? "Update" : "Create" }}</button>
</mat-dialog-actions>
