/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #3d3d3d }


* {
  font-family: 'Montserrat', sans-serif;
}

.mat-expansion-panel-header {
  height: auto!important;
  padding: 16px!important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: none!important;
}
